.headNav{
	width: 100%;
	background:#24292E;
	padding: 16px 0 ;
	margin: 0;	
	z-index: 999;	
	overflow-x: auto;
	white-space:nowrap;
	display: block;
}
.headNav a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 800;
	margin: 0 10px;	
}
/*幻灯片play*/
.headTitle{
	width: 100vw;height: 200px;
	background: linear-gradient(120deg, #155799, #159957);
	color: #fff;
	text-align: center;	
	margin: 0;
}
.headTitle .name{
	font-size: 40px;	
	margin-top: 50px;
	margin-bottom: 10px;
}
.headTitle .url a{
	font-size: 18px;
	color: #fff;
}
/*幻灯片end*/
/*.persInfo .text{
	list-style: afar;
}*/
/*哔哩哔哩play*/
.bilibili img{
	float: left;
	width: 200px;
}
/*哔哩哔哩end*/
.tabProject{
	 border-style: solid;
}
/*底部play*/
.foot{
	background: #1f1f1f;
	width: 100%;
	min-height:40vh;
	color: #fff;
}
.foot .logo{
	
}
.foot .logo .rope{
	width: 3px;height:10vh;
	background: #fff;
	margin-left: 150px;
}
.foot .logo img{
	margin-left: 80px;
	border-radius: 100px;
    -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -o-transition: -o-transform 2s ease-out;
    -ms-transition: -ms-transform 2s ease-out;
    transition: transform 2s ease-out;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.foot .logo img:hover{
	-webkit-transform:rotateZ(360deg);
	-moz-transform:rotateZ(360deg);
	-o-transform:rotateZ(360deg);
	-ms-transform:rotateZ(360deg);
	transform:rotateZ(360deg);
}
.foot .icons{
	float: left;
}
.foot .icon{
	width: 50px;height: 50px;
	margin: 10px;
}
/*底部end*/
