.headNav{
	width: 100%;
	background:#24292E;
	padding: 16px 0 ;
	margin: 0;	
	z-index: 999;	
	overflow-x: auto;
	white-space:nowrap;
	display: block;
}
.headNav a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 800;
	margin: 0 10px;	
}
/*小图标play*/
.WebsiteAll .titel{
	font-size: 24px;font-weight: 800;
	background:url(https://gitee.com/MrFlySand/Other/raw/master/Material/Image/GithubPage/WebsiteAll/redLine.png) center;
	text-align:center;background-repeat:no-repeat;
}
.WebsiteAll .one{
	width: 100%;display: fixed;
}
.WebsiteAll a{
	width: 60px;
	height: 60px;
	margin:10px 10px 20px 10px;
	border-radius: 3px;
	display: inline-block;
	/*display: block;*/
	background:url(https://gitee.com/MrFlySand/Other/raw/master/Material/Image/GithubPage/WebsiteAll/img.png) no-repeat;
	background-position:0px 0;
	/*overflow: hidden;*/
	vertical-align:text-bottom;
}
.WebsiteAll a p{
	font-size:12px ;
	position: relative;
	top: 60px;
	text-align: center;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
}
/*小图标end*/
/*悬浮球play*/
#SuspendedBall{
    width: 30px;
    height: 30px;
    position:fixed;
    top: 70%;
    right: 10px;
    background-color: rgba(0,0,0,0.3);
    border-radius:25px;
    text-align: center;
    line-height: 10px;
    font-size: 10px;
    color: #000;
    line-height: 25px;      		    
    border: 1px black solid;
}
/*悬浮球end*/


/*https://www.zhangxinxu.com/wordpress/2014/04/animateion-line-drawing-svg-path-动画-路径/*/
