.headNav{
	width: 100%;
	background:#24292E;
	padding: 16px 0 ;
	margin: 0;	
	z-index: 999;	
	overflow-x: auto;
	white-space:nowrap;
	display: block;
}
.headNav a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 800;
	margin: 0 10px;	
}
/*小图标play*/
.WebsiteAll .titel{
	font-size: 24px;font-weight: 800;
	background:url(https://gitee.com/MrFlySand/Other/raw/master/Material/Image/GithubPage/WebsiteAll/redLine.png) center;
	text-align:center;background-repeat:no-repeat;
}
.WebsiteAll .one{
	width: 100%;display: fixed;
}
.WebsiteAll a{
	width: 60px;
	height: 60px;
	margin:10px 10px 20px 10px;
	display: inline-block;
	/*display: block;*/
	background:url(https://gitee.com/MrFlySand/Other/raw/master/Material/Image/GithubPage/WebsiteAll/img.jpg) no-repeat;
	background-position:0px 0;
	/*overflow: hidden;*/
	vertical-align:text-bottom;
}
.WebsiteAll a p{
	font-size:16px ;
	position: relative;
	top: 60px;
	text-align: center;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
}
.WebsiteAll .shua{
	background-position:0px 0px;
}
.WebsiteAll .ai520{
	background-position:-60px 0px;
}
.WebsiteAll .birthday{
	background-position:-120px 0px;
}
/*小图标end*/
