div #box,.box{
	width: 100px;
	height: 100px;	
	margin: 10px auto;	
	color: #fff;	
	text-align: center;	
}

div #box,.box{
	width: 100px;
	height: 100px;	
	margin: 10px auto;	
	color: #fff;	
	text-align: center;	
}