*{
	margin:0;padding:0;
}
body{
	background: #ccc;
    font-family: "微软雅黑";
	font-size: 24px;
    color: #000;
    line-height: 1.5em;    
}
b{
	font-weight:normal;
}
a,a:hover,a:active{
	text-decoration: none;
	color:#2ca6cb;	
}
i{font-style:normal;}

input{
	width: auto;height: 30px;
	border-radius: 3px;
	border-style:ridge;
	border-color:black;
	padding: 0 10px;
	height: 24px;
	background: #ddd;	
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#666;
}
button{
	width: auto;
	border-radius: 3px;
	border-style:ridge;
	border-color:black;
	padding:3px 8px;margin: 10px;	
}
button:hover{
	background: #ccc;
}
img{
	border:none;
	vertical-align:middle;/*对齐方式*/
	width: 100%;
}
li{list-style:none;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
.clearfix::after{
	content:"";
	display:table;
	clear:both;
}
.box{
	margin: 10px;overflow: hidden;
}
p{
	font-size: 1em;
}
p.title{
	font-size: 2em;
	font-weight: 800;
}

.container{
	background: #fff;
    margin: 20px 10px 20px 20px;
    padding: 10px;
    float: left;
    width: 65%;
}
.container .title{
	color: #2ca6cb;
	font-size: 18px;
}
.container .title .time{
	color: #000;
	font-size: 20px;
}
.container p+.title{
	color: #2CA6CB;
	font-size: 28px
}
ul>li.first{
	list-style:	disc;
	margin-left:1em;
}
ul>li.second{
	list-style: circle;
	margin-left: 2em;	
}
ul>li.third{
	list-style: square;
	margin-left: 3em;
}
p.codeIntroduction{
	width: auto;
	line-height: 40px;
	display: inline-block;

}
div.label{
	width: auto;height: 20px;
	display: inline-block;
	background: #dbdbdb;
	color: #817c7c;
	margin: 5px; padding: 5px 10px;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
}

h1.headTitle{
	font-size: 1.6em;
	color: #2ca6cb;
}
h1.codeTitle{
	font-size: 1.6em;
	color: #0044ff;
	margin-top: 0;
	display: block;
}
h2.codeTitle{
	font-size: 1.4em;
	color: #0055dd;
	margin-top: 0.8em;
	display: block;
}
h3.codeTitle{
	font-size: 1.2em;
	color: #0066bb;
	margin-top: 0.8em;
	display: block;
}
#main>section.file>a{
	border-left: none;
	border-bottom: 1.5px solid #ccc;
}
#main>section.file>a>svg{
	margin-bottom: -10px;
}
#main>section.file>.searchFile{
	margin:  0 5px;
}
#main>section.file>.searchFile>input{
	width: 15em;
}
#main>section.file>a>p{
	display: inline-block;
}
#main>section.file>a>p:hover{
	color: #ea6753;
}
#main>section.file>a>p#fileTime{
	float: right;
}
#main>section.file>.searchFile{
	padding:0.4em 1em;
	margin: 0 5px;
}

